{% extends 'users/base.html' %} {% block title %} Login page {% endblock %} {%
block body %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
{% endif %} {% endwith %}

<form method="post" action="{{url_for('auth.login')}}">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}
