{% extends 'users/base.html' %} {% block title %} Статья полностью {% endblock
title %} {% block body %}
<div class="row">
  <div class="col-md-12">{{article.text}}</div>
</div>
<div class="row">
  <div class="col-6">
    <div>
      <small class="text-muted"
        >Автор статьи: {{article.author.user.first_name}}</small
      >
    </div>
  </div>
  <div class="col-6">
    {% for tag in article.tags %}
        <a href="{{url_for('article_app.get_article_by_tag', pk=tag.id)}}"> <span class="badge badge-primary">{{tag.name}}</span>
    {% endfor %}
  </div>
</div>

{% endblock body %}
