<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    {% block css %}
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    {% include 'users/navbar.html' %}

    <div class="container">{% block body %} {% endblock %}</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block js %}

    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    {% include 'users/footer.html' %} {% endblock %}
  </body>
</html>
